<input type="hidden" name="id" value="<%= contacts == null ? "" : id %>">
<p>Nome: <input type="text" name="nome" value="<%= contacts == null ? "" : contacts[id].nome %>" ></p>
<p>Email: <input type="text" name="email" value="<%= contacts == null ? "" : contacts[id].email %>"></p>
<input type="submit" value="OK">
